@import './dimensions.css';
@import './colours.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  color: var(--text-dark);
  background-color: var(--main-bg-colour);
}
