.Chat {
  grid-area: chat;
  flex: 1;
  background-color: var(--chat-bg-colour);
}

.Chat--none {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #808080;
  font-size: 1.2rem;
}
