:root {
  --contact-padding: 1rem;
  --contact-active-border: 5px;
}

.Contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: var(--contact-padding);
  cursor: pointer;
}
.Contact:hover {
  background-color: var(--contact-hover-bg-colour);
}

.Contact--online > .Contact__avatar > .Contact__status {
  background-color: var(--contact-online-colour);
}
.Contact--online > .Contact__avatar {
  background-color: var(--contact-online-bg-colour);
}

.Contact__status {
  position: absolute;
  height: 0.7rem;
  width: 0.7rem;
  top: 75%;
  left: 75%;
  background-color: var(--contact-offline-colour);
  border-radius: 50%;
}

.Contact--active {
  background-color: var(--contact-active-bg-colour) !important;
  border-left: 5px solid var(--contact-active-highlight-colour);
  padding-left: calc(var(--contact-padding) - var(--contact-active-border));
}
.Contact--active > .Contact__username {
  font-weight: bold;
}

.Contact__avatar {
  position: relative;
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
  font-size: 1.3rem;
  background-color: var(--contact-avatar-bg-colour);
  border-radius: 50%;
}

.Contact__username {
  font-size: 0.9rem;
}
