#Main {
  height: 100dvh;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 15rem 1fr;
  grid-template-areas:
    'nav nav'
    'sidebar chat';
}

@media (max-width: 600px) {
  .Main--mobile-contacts {
    grid-template-columns: 1fr 0rem !important;
  }

  .Main--mobile-chat {
    grid-template-columns: 0rem 1fr !important;
  }
}
