.Message {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}
.Message--user {
  align-self: flex-end;
  align-items: flex-end;
}
.Message--contact {
  align-self: flex-start;
  align-items: flex-start;
}

.MsgBubble {
  width: fit-content;
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
}
.MsgBubble--user {
  background-color: var(--chat-user-message);
}
.MsgBubble--contact {
  background-color: var(--chat-partner-message);
}

.Message__timestamp {
  width: fit-content;
  padding: 0.2rem;
  font-size: 0.7rem;
  color: var(--chat-timestamp-colour);
}
