#Nav {
  height: var(--nav-height);
  grid-area: nav;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 0 0.3rem;
  background-color: var(--nav-bg-colour);
}

#Nav__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  margin-right: auto;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--text-light);
}

#Nav__title > img {
  height: 100%;
  filter: invert(100%);
}

#Nav > button {
  height: 80%;
  aspect-ratio: 1;
  color: var(--text-light);
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
#Nav > button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#Nav__user-menu {
  position: absolute;
  width: 100vw;
  top: var(--nav-height);
  z-index: 8;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: var(--menu-bg-colour);
  transition: 0.5s top;
}
#Nav__user-menu > * {
  position: relative;
  height: 2.5rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Nav__user-menu > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: var(--nav-text-colour);
}

#Nav__user-menu > button {
  background-color: transparent;
  border: none;
  border-left: 1px solid var(--menu-separator-colour);
  font-weight: bold;
  cursor: pointer;
}
#Nav__user-menu > button:hover {
  background-color: var(--menu-btn-hover-bg-colour);
}

#Nav__hide-menu-layer {
  position: absolute;
  width: 100vw;
  height: var(--full-screen-height);
  z-index: 7;
  background-color: black;
  opacity: 0;
  transition: 0.5s opacity;
}

@media (min-width: 601px) {
  #Nav__back-btn {
    display: none !important;
  }
}
